@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$color-custom: #3f51b5;
$color-custom-placeholder: #D5D9E2;
$color-custom-option: #2D3343;
$color-custom-selected: #FAE8EB;
:host {
	font-family: 'Roboto', sans-serif;
	--animation-timing: 0.2s;
	--animation-easing: ease-in-out;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		transform: translateY(-10px);
	}
}

.custom-select {
	position: relative;
	display: inline-block;
	width: 100%;

	.custom-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 0.5rem 1rem;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		cursor: pointer;
		transition: border-color 0.3s, box-shadow 0.3s;

		&:hover {
			border-color: $color-custom;
		}

		&:focus {
			border-color: $color-custom;
			box-shadow: 0 0 5px rgba(63, 81, 181, 0.5);
			outline: none;
		}

		.custom-select-label {
			color: $color-custom-placeholder;
		}
	}

	.options {
		margin-top: 5px;
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		max-height: calc(2.5rem * 5); // 2.5rem = option height (0.5rem padding top/bottom + 1.5rem line height)
		overflow-y: auto;
		border: 1px solid #ccc;
		border-radius: 4px;
		background-color: #fff;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
		z-index: 1;
		scrollbar-width: thin;
		scrollbar-color: $color-custom #f1f1f1;
		animation: fadeIn var(--animation-timing) var(--animation-easing);
		will-change: transform, opacity;

		&.closing {
			animation: fadeOut var(--animation-timing) var(--animation-easing);
		}

		&::-webkit-scrollbar {
			width: 6px;
		}

		&::-webkit-scrollbar-track {
			background: #f1f1f1;
		}

		&::-webkit-scrollbar-thumb {
			background: $color-custom;
			border-radius: 3px;
		}

		.option {
			color: $color-custom-option;
			padding: 0.5rem 1rem;
			line-height: 1.5rem;
			cursor: pointer;
			transition: background-color 0.3s;

			&:hover,
			&.selected {
				background-color: $color-custom-selected;
			}
		}
	}
}
