<div class="custom-select">
	<button
	class="custom-button"
	(click)="isOpen = !isOpen"
    aria-haspopup="listbox"
    [attr.aria-expanded]="isOpen"
    aria-labelledby="custom-select-label"
	>
	  <span class="custom-select-label">{{ selectedValue?.label || 'Select an option' }}</span>
	  @if(isOpen) {
		<img [src]="imagePathArrowUp" alt="Collapse options" aria-hidden="true">
	} @else {
		<img [src]="imagePathArrowDown" alt="Expand options" aria-hidden="true">
	}
	</button>
	@if (isOpen) {
		<div
		class="options"
		role="listbox"
		[attr.aria-activedescendant]="selectedValue?.value"
		tabindex="-1"
	  >
			@for(option of options; track option) {
				<div
				(click)="selectOption(option)"
				(keydown.enter)="selectOption(option)"
				(keydown.space)="$event.preventDefault(); selectOption(option)"
				class="option"
				role="option"
				[attr.aria-selected]="selectedValue?.value === option.value"
				[id]="option.value"
				tabindex="0"
			  >
					{{ option.label }}
				</div>
			}
		</div>
	}
  </div>
